
nav ul {
  list-style: none;
  padding-left: 0;
  background-color: hsl(0, 0%, 16%);
  margin: 0;
  display: flex;
  justify-content: end;
  color: hsl(0, 0%, 99%);
}

nav a{
  padding: 1rem;
  width: min-content;
  display: block;
  text-decoration: none;
  color: hsl(0, 0%, 99%)
  }

  nav a:hover {
    background-color: hsl(0, 0%, 16%);
    color: hsl(89, 44%, 47%);
    text-decoration: underline;
  }